<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"><img src="../../resources/img/SkiPoolLogo2.png" class="nav-logo"></img></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/driver">Drive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rider">Find a Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{#if email}}/logout{{else}}/login{{/if}}">{{#if email}}Log out{{else}}Log in{{/if}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chats">
            Message Hub
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">
              {{email}}
              </a>
          </li>
      </ul>
    </div>
  </nav>
</header>