<header>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse w-100" id="navbarContent">
      <a class="navbar-brand nav-logo" href="/"><img src="../../resources/img/SkiPoolLogo2.png"></img></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/driver">Drive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rider">Find a Ride</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chats">
            Message Hub
          </a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/search">
            Search For Users
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">
            Profile
          </a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{#if user}}/logout{{else}}/login{{/if}}">{{#if user}}Log out{{else}}Log in{{/if}}</a>
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">
              {{email}}
              </a>
          </li>
      </ul>
    </div>
  </nav>
</header>