<div class="container mt-5 text-center">
  <h1 class="text-success">{{message}}</h1>
  <p>You have been logged out of your account.</p>

  <a href="/login" class="btn btn-primary mt-3">Log In Again</a>
  <br />
  <a href="/" class="btn btn-link mt-2">Back to Home</a>
</div>